.movie-card {

    width: 100%;
    height: 100%;
    border-radius: 8px ;
    overflow: hidden;
    position: relative;

    .movie-poster img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
        opacity: 1;
        transition: opacity .6s;
    }

    .movie-infos {

        position: absolute;
        bottom: 0;
        background: linear-gradient(#00000000, #000000 90% );
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 10px;

        .movie-title{
            color: #f1f5f9;
            font-size: 14px;
            font-weight: bold;
        }

        .hidden-content{
            color: #f1f5f9;
            font-size: 12px;
            margin-top: 8px;
            max-height: 0px;
            opacity: 0;
            overflow: hidden;
            transition: all .6s ease;

            .btn-default {
                background-color: #6046ff;
                padding: 6px 8px;
                border-radius: 4px;
                margin-top: 10px;
                color: #fff;
                border: none;
                cursor: pointer;
                width: 100%;
                transition: background-color .3s;

                &:hover {
                    background-color: #4e36cc;
                }
            }
        }    
    }

    &:hover {
        cursor: pointer;

        .movie-poster img {
            opacity: 0.5;
        }

        .hidden-content {
            opacity: 1;
            max-height: 120px;            
        }
        .hidden-content.with-text {
            max-height: 180px;
        }        
    }
}